@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

 /** Layout **/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

.branco {
    color: white;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.area-logo, .area-menu {
    padding: 10px;
}

 /** Formatação Menu **/
 
#area-cabecalho a:link, a:visited {
    color: white;
}
 
#area-cabecalho a:hover {
    background-color: white;
    color: #f7b600;
    border-radius: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}


 /** Formatação do conteúdo **/

#area-principal {
    width: 920px;
    margin: 10px auto;
}

#area-postagens {
    width: 660px;
    float: left;
}

.postagens {
  padding: 20px;
  margin-bottom: 20px; 
  background-color: white;
}

.postagens h2 {  
    color: #f7b600;
}

.postagens .data-postagem {
    font-size: 0.9em;
    display: block;
    margin-bottom: 10px;
    text-indent: 10px;
}

.postagens p {
    padding: 10px 0;
    text-indent: 10px;
}

#area-lateral {
    width: 240px;
    float: right;
    margin-bottom: 5px;
}

.conteudo-lateral {
    background-color: white;
    padding: 5px;
}

.conteudo-lateral > h3 {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
}

.postagem-lateral {
    padding: 5px;
    font-size: 0.9em;
    border-bottom: 1px solid gray;
}

.conteudo-lateral a {
    display: block;
    padding-bottom: 2px;
}

#rodape {
    clear: both;
    background-color: rgb(119, 119, 119);
    color: white;
    padding: 15px;
    text-align: center;
}