@charset "UTF-8";

#conteudo {
    height: 600px;
    background-color: gray;
    display: flex;

}

.item {
    /*width: 100px;*/
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    margin: 10px;

    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 0;

    /* Define a capacidade de redução de tamanho de item.*/
    flex-shrink: 1;

    /* Indica o tamanho inicial do flex item  antes da distribuição do espaço restante. */
    flex-basis: 200px; /*** Width ***/
}

.item1 {
    flex-grow: 1;
}

.item2 {
    flex-shrink: 5;
}

.item3 {
    flex-basis: 300px;
}
