@charset "UTF-8";

#principal {
    background-color: lightgray;
    border: 1px solid black;
    width: 1200px;
}

.conteudo {
    background-color: tomato;
    width: 243px;
    padding: 10px;
    margin: 5px 40px;
    float: left;
}

.clear {
    clear: both;
}

.imagens {
    margin: 5px 40px;
    float: left;
}